@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Oswald:wght@300 & display=swap');

body{
    font-family: 'Oswold', sans-serif;
}

header{
    height: 200px;
    background-color: #30ab67;
    text-align: center;
}

h1{
    margin: 0px;
    color: white;
    text-align: justify;
    text-align: center;
    padding: 20px ;
    font-size: 1.5em;
}
    p{
    color: rgb(206, 206, 206);
}

.nav{
    height: 202px;
   background-color: aliceblue;
}